/*css for main div*/
#main_div{						
	width:600px;
	margin: 10px auto;
	background-color: #99FF99;
}

/*css for form elements*/
#form{
	padding: 10px 0px 10px 50px;
}

/*css for error message*/
.error{
	display: none;
	color: red;
	margin-left: 10px;
}